* {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 500px 0px 500px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcoming-text {
  text-align: center;
}

nav {
  height: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 1em 0 1em;
  min-width: 100%;
}

.nav-btn {
  font-size: 1.5em;
}

.allsubs {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-family: 'Amazon Ember', sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 150px;
}

.allsubs:hover {
  background-color: #f7fafa;
}

.allsubs:focus {
  border-color: #4d4d4d;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 100px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sublist-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding: 25px 25px 25px 25px;
}

.create-sub {
  width: 96%;
  margin: 0;
  background-color: SlateGray;
  color: whitesmoke;
  border: none;
  padding: 15px 30px;
  margin-top: 15px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.sublist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow-y: scroll;
  height: 560px;
  overflow-x: hidden;
}

.sublist-container::-webkit-scrollbar {
  display: none;
}

.sub-img {
  height: 30px;
  width: 47px;
}

.sub-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
